:root {
    --basic-black: #000000;
    --basic-white: #ffffff;
    --basic-extra-dark: #242424;
    --basic-pink: #fb565a;
    --basic-blue: #0000ff;
    --basic-aqua: #00ffff;
    --basic-fuchsia: #ff00ff;
    --basic-silver: #c0c0c0;
    --basic-apricot: #fb565a;
    --basic-middle-apricot: #e74246;
    --basic-dark-apricot: #d7373b;
    --basic-turquoise: #00ca74;
    --basic-middle-turquoise: #00bc6c;
    --basic-dark-turquoise: #00aa62;
    --basic-yellow: #efc84a;
    --basic-middle-yellow: #eab534;
    --basic-dark-yellow: #e5a722;
    --basic-beige-color: #dfdfdf;
    --basic-light-beige-color: #eeeeee;
    --basic-dark-beige-colo: #d5d5d5;
    --basic-light-white: #E1E1E1;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local("Roboto Regural"), local ("Roboto-Regular"), url("../Fonts/Roboto/Roboto-Regular/robotoregular.woff2") format("woff2"), url("../Fonts/Roboto/Roboto-Regular/robotoregular.woff") format("woff");
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: local("Roboto Bold"), local ("Roboto-Bold"), url("../Fonts/Roboto/Roboto-Bold/robotobold.woff2") format("woff2"), url("../Fonts/Roboto/Roboto-Bold/robotobold.woff") format("woff");
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: local("Roboto Bold Italic"), local ("Roboto-Bold_italic"), url("../Fonts/Roboto/Roboto-Bold_italic/robotobolditalic.woff2") format("woff2"), url("../Fonts/Roboto/Roboto-Bold_italic/robotobolditalic.woff") format("woff");
}

body {
    min-width: 960px;
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-white);
    background-position: center;
    background-repeat: no-repeat;
}

img {
    max-width: 100%;
    height: auto;
}

.main-navigation {
    padding: 15px;
}

.main-navigation:hover {
    color: var(--basic-black);
}

.main-navigation:focus {
    color: var(--basic-black);
}

.main-navigation:active {
    color: var(--basic-silver);
}

.list-items {
    list-style: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
}

.study-item {
    text-decoration: none;
    color: var(--basic-black);
}

.study-item:hover {
    color: var(--basic-fuchsia);
}

.study-item:focus {
    color: var(--basic-fuchsia);
    outline: none;
}

.study-item:active {
    color: var(--basic-silver);
}

.client-item {
    text-decoration: none;
    color: var(--basic-black);
}

.client-item:hover {
    color: var(--basic-fuchsia);
}

.client-item:focus {
    color: var(--basic-fuchsia);
    outline: none;
}

.client-item:active {
    color: var(--basic-silver);
}

.catalog-item {
    text-decoration: none;
    color: var(--basic-black);
}

.catalog-item:hover {
    color: var(--basic-fuchsia);
}

.catalog-item:focus {
    color: var(--basic-fuchsia);
    outline: none;
}

.catalog-item:active {
    color: var(--basic-silver);
    border-bottom: 1px solid var(--basic-fuchsia);
}

.contact-item {
    text-decoration: none;
    color: var(--basic-black);
}

.contact-item:hover {
    color: var(--basic-fuchsia);
}

.contact-item:focus {
    color: var(--basic-fuchsia);
    outline: none;
}

.contact-item:active {
    color: var(--basic-silver);
}

.bin-link {
    color: var(--basic-black);
    text-decoration: none;
    padding-left: 37px;
}

.bin-link:hover {
    color: var(--basic-fuchsia);
}

.bin-link:focus {
    color: var(--basic-fuchsia);
    outline: none;
}

.bin-link:active {
    color: var(--basic-silver);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.services-list {
    list-style: none;
}

.veb-caption {
    line-height: 30px;
    font-size: 24px;
    font-weight: bold;
}

.world-future-text {
    line-height: 24px;
    font-size: 16px;
    font-weight: normal;
    text-transform: none;
}

.links-one {
    text-decoration: none;
    color: var(--basic-white);
    line-height: 18px;
    font-size: 16px;
    font-weight: 500;
    background-color: var(--basic-apricot);
    border: 1px solid var(--basic-apricot);
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 40px;
    padding-right: 39px;
    border-radius: 3px;
}

.links-one:hover {
    color: var(--basic-white);
    background-color: var(--basic-middle-apricot);
}

.links-one:focus {
    color: var(--basic-white);
    background-color: var(--basic-middle-apricot);
    outline: none;
}

.links-one:active {
    color: var(--basic-silver);
    background-color: var(--basic-dark-apricot);
}

.application- caption {
    line-height: 30px;
    font-size: 24px;
    font-weight: bold;
}

.appplay-text {
    line-height: 24px;
    font-size: 16px;
    font-weight: normal;
    text-transform: none;
}

.links-two {
    text-decoration: none;
    color: var(--basic-white);
    line-height: 18px;
    font-size: 16px;
    font-weight: 500;
    background-color: var(--basic-turquoise);
    border: 1px solid var(--basic-turquoise);
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 40px;
    padding-right: 39px;
    border-radius: 3px;
}

.links-two:hover {
    color: var(--basic-white);
    background-color: var(--basic-middle-turquoise);
}

.links-two:focus {
    color: var(--basic-white);
    background-color: var(--basic-middle-turquoise);
    outline: none;
}

.links-two:active {
    color: var(--basic-silver);
    background-color: var(--basic-dark-turquoise);
}

.presentation-caption {
    line-height: 30px;
    font-size: 24px;
    font-weight: bold;
}

.amazingli-text {
    line-height: 24px;
    font-size: 16px;
    font-weight: normal;
    text-transform: none;
}

.links-three {
    text-decoration: none;
    color: var(--basic-white);
    line-height: 18px;
    font-size: 16px;
    font-weight: 500;
    background-color: var(--basic-yellow);
    border: 1px solid var(--basic-yellow);
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 40px;
    padding-right: 39px;
    border-radius: 3px;
}

.links-three:hover {
    color: var(--basic-white);
    background-color: var(--basic-middle-yellow);
}

.links-three:focus {
    color: var(--basic-white);
    background-color: var(--basic-middle-yellow);
    outline: none;
}

.links-three:active {
    color: var(--basic-silver);
    background-color: var(--basic-dark-yellow);
}

.write {
    line-height: 18px;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    text-transform: none;
    padding-left: 37px;
}

.name {
    line-height: 18px;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    text-transform: none;
    padding-left: 37px;
}

.text {
    color: var(--basic-silver);
}

.text:hover {
    color: var(--basic-silver);
}

.text:focus {
    color: var(--basic-black);
}

.email {
    line-height: 18px;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    text-transform: none;
    padding-left: 37px;
}

.text-email {
    color: var(--basic-silver);
}

.text-email:hover {
    color: var(--basic-silver);
}

.text-email:focus {
    color: var(--basic-black);
}

.letter {
    line-height: 18px;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    text-transform: none;
    padding-left: 37px;
}

.-text-letter {
    color: var(--basic-silver);
}

.text-letter:hover {
    color: var(--basic-silver);
}

.text-letter:focus {
    color: var(--basic-black);
}

.button {
    margin-left: 37px;
    outline: none;
    color: var(--basic-black);
    background-color: var(--basic-light-beige-color);
    border-radius: 3px;
}

.button:hover {
    color: var(--basic-black);
    background-color: var(--basic-beige-color);
}

.button:focus {
    color: var(--basic-black);
    background-color: var(--basic-beige-color);
}

.button:active {
    color: var(--basic-black);
    background-color: var(--basic-dark-beige-colo);
}

.friend-caption {
    line-height: 36px;
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    padding-left: 37px;
    text-transform: none;
}

.discounts-text {
    line-height: 22px;
    font-size: 16px;
    font-weight: normal;
    padding-left: 37px;
}

.socials {
    list-style: none;
}

.socials-icon {
    text-decoration: none;
    color: var(--basic-white);
    background-color: var(--basic-light-white);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.socials-icon:hover {
    background-color: var(--basic-middle-apricot);
    outline: none;
}

.socials-icon:focus {
    background-color: var(--basic-middle-apricot);
    outline: none;
}

.socials-icon:active {
    background-color: var(--basic-middle-apricot);
    outline: none;
}


/*catalog*/

.main-navigation {
    padding: 15px;
}

.main-navigation:hover {
    color: var(--basic-black);
}

.main-navigation:focus {
    color: var(--basic-black);
    outline: none;
}

.main-navigation:active {
    color: var(--basic-silver);
}

.list {
    list-style: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
}

.study-item {
    text-decoration: none;
    color: var(--basic-black);
}

.study-item:hover {
    color: var(--basic-fuchsia);
}

.study-item:focus {
    color: var(--basic-fuchsia);
    outline: none;
}

.study-item:active {
    color: var(--basic-silver);
}

.client-item {
    text-decoration: none;
    color: var(--basic-black);
}

.client-item:hover {
    color: var(--basic-fuchsia);
}

.client-item:focus {
    color: var(--basic-fuchsia);
    outline: none;
}

.client-item:active {
    color: var(--basic-silver);
}

.catalog-item {
    text-decoration: none;
    color: var(--basic-black);
}

.catalog-item:hover {
    color: var(--basic-fuchsia);
}

.catalog-item:focus {
    color: var(--basic-fuchsia);
    outline: none;
}

.catalog-item:active {
    color: var(--basic-silver);
    border-bottom: 1px solid var(--basic-fuchsia);
}

.contact-item {
    text-decoration: none;
    color: var(--basic-black);
}

.contact-item:hover {
    color: var(--basic-fuchsia);
}

.contact-item:focus {
    color: var(--basic-fuchsia);
    outline: none;
}

.contact-item:active {
    color: var(--basic-silver);
}

.bin-link {
    color: var(--basic-black);
    text-decoration: none;
    padding-left: 37px;
}

.bin-link:hover {
    color: var(--basic-fuchsia);
}

.bin-link:focus {
    color: var(--basic-fuchsia);
    outline: none;
}

.bin-link:active {
    color: var(--basic-silver);
}

.shop-caption {
    line-height: 55px;
    font-size: 55px;
    font-weight: 500;
    font-style: normal;
    padding-left: 37px;
}

.radio-list {
    list-style: none;
    outline: none;
}

.radio:hover {
    color: var(--basic-black);
    outline: none;
}

.radio:focus {
    color: var(--basic-black);
    outline: none;
}

.radio:active {
    color: var(--basic-black)
}

.checkbox-list {
    list-style: none;
    outline: none;
}

.checkbox:hover {
    color: var(--basic-black);
    outline: none;
}

.checkbox:focus {
    color: var(--basic-black);
    outline: none;
}

.button {
    margin-left: 37px;
    outline: none;
    color: var(--basic-black);
    background-color: var(--basic-light-beige-color);
    border-radius: 3px;
}

.button:hover {
    color: var(--basic-black);
    background-color: var(--basic-beige-color);
}

.button:focus {
    color: var(--basic-black);
    background-color: var(--basic-beige-color);
}

.button:active {
    color: var(--basic-black);
    background-color: var(--basic-dark-beige-colo);
}

.advertising {
    list-style: none;
}

.write {
    line-height: 18px;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    text-transform: none;
    padding-left: 37px;
}

.name {
    line-height: 18px;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    text-transform: none;
    padding-left: 37px;
}

.text {
    color: var(--basic-silver);
}

.text:hover {
    color: var(--basic-silver);
}

.text:focus {
    color: var(--basic-black);
}

.email {
    line-height: 18px;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    text-transform: none;
    padding-left: 37px;
}

.text-email {
    color: var(--basic-silver);
}

.text-email:hover {
    color: var(--basic-silver);
}

.text-email:focus {
    color: var(--basic-black);
}

.letter {
    line-height: 18px;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    text-transform: none;
    padding-left: 37px;
}

.text-letter {
    color: var(--basic-silver);
}

.text-letter:hover {
    color: var(--basic-silver);
}

.text-letter:focus {
    color: var(--basic-black);
}

.button {
    margin-left: 37px;
    outline: none;
    color: var(--basic-black);
    background-color: var(--basic-light-beige-color);
    border-radius: 3px;
}

.button:hover {
    color: var(--basic-black);
    background-color: var(--basic-beige-color);
}

.button:focus {
    color: var(--basic-black);
    background-color: var(--basic-beige-color);
}

.button:active {
    color: var(--basic-black);
    background-color: var(--basic-dark-beige-colo);
}

.friend- caption {
    line-height: 36px;
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    padding-left: 37px;
    text-transform: none;
}

.discounts-text {
    line-height: 22px;
    font-size: 16px;
    font-weight: normal;
    padding-left: 37px;
}

.socials {
    list-style: none;
}

.socials-icon {
    text-decoration: none;
    color: var(--basic-white);
    background-color: var(--basic-light-white);
    border-radius: 50%;
    width: 34px;
    height: 40px;
    display: inline-block;
}

.socials-icon:hover {
    background-color: var(--basic-middle-apricot);
    outline: none;
}

.socials-icon:focus {
    background-color: var(--basic-middle-apricot);
    outline: none;
}

.socials-icon:active {
    background-color: var(--basic-middle-apricot);
    outline: none;
}